# SYSTEM ENVIRONMENT
USE_AXIOS_PROXY=true
API_URL=http://localhost:3000
DOCKER_CMD="if [ ! -d 'node_modules' ]; then echo -e '\nnpm install....\n'; npm install; fi; npm run dev"


# CONFIGURATION OF PROJECT
PROJECT_NAME="Frontend Seed"
PROTOTYPE=http
DOMAIN=localhost
PORT=4000
