# SYSTEM ENVIRONMENT
API_URL=http://localhost:3000
DOCKER_CMD="if [[ ! -d 'node_modules' || -f 'deploy-flag' ]]; then echo -e '\nnpm install....\n'; rm -rf deploy-flag && npm install && npm run build; fi && npm run dev"


# CONFIGURATION OF PROJECT
PROJECT_ID=frontend-seed
PROJECT_NAME="Frontend Seed"
PROTOTYPE=http
DOMAIN=localhost
HOST=0.0.0.0
PORT=4000
