# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Npm install
package-lock.json

# dotenv environment variables file
.env

# deployment
staging.sh
production.sh
deployment/data/
deployment/nginx/ssl/certs/*
deployment/nginx/ssl/private/*

# Others
.idea
.history
