a{
    font-family: $font-primary;
    color: $color-third;
    cursor: pointer;
    &:hover{
        color: initial;
        text-decoration: none;
    }
}
ul{
    padding-left: 0;
    li{
        list-style: none;
    }
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ffffff;
}
::-webkit-scrollbar
{
    width: 3px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb
{
    background-color: #9999997a;
    border-radius: 10px;
    border: 1px solid #9999997a;
}

.i-con{
    color: #000;
    display: inline-block;
}

.row-8{
    margin: 0 -8px;
    .col-style{
        padding: 0 8px;
    }
}

.row-4{
    margin: 0 -4px;
    .col-style{
        padding: 0 4px;
    }
}

input[type=text], input[type=password]{
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    margin-bottom: 8px;
    height: 40px;
    &::placeholder{
        color: #e0e0e0;
    }
    &.border-grey{
        border-bottom: 1px solid #dddddd;
    }
    &.border-gradient{
        color: rgba($color-sixth, 0.8);
        border-image-source: linear-gradient(135deg, #0e49c1 0%, #1390e0 100%);
        border-bottom: 1px solid;
        border-image-slice: 1;
        &::placeholder{
            color: rgba($color-sixth, 0.5);
        }
    }
}

.btn-normal{
    min-width: 96px;
    @include border-radius(4px);
    background-image: linear-gradient(135deg, #0073dd 0%, #4ab9b7 100%);
    color: #ffffff;
    font-size: $font-size-normal;
    font-family: $font-third;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 8px;
}

.main-content{
    height: 100vh;
    overflow: hidden;
    font-family: $font-primary;
    font-size: $font-size-normal;
    background-color: $color-third;
    .col-left{
        float: left;
        height: 100%;
        background-color: #fafafa;
    }
    .col-right{
        overflow-y: auto;
        height:100%;
        // padding: 48px 40px;
        // width: calc(100% - 88px);
        // width: calc(100% - 120px);
        // transition: 0.4s linear;
        &::-webkit-scrollbar-track{
            background-color: $color-third;
        }
        &.collapsed{
            // width: calc(100% - 608px);
            &.show{
                // width: calc(100% - 856px);
            }
        }
    }
}
.content-menu{
    background-color: #212121;
    height: 100%;
    width: 70px;
    position: relative;
    z-index: 2;
    .logo{
        padding: 17px 20px;
        margin-bottom: 8px;
        max-width: 75px;
        position: relative;
        left: -2px;
    }
}
.menu-left{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    max-height: calc(100% - 218px);
    overflow-y: auto;
    &::-webkit-scrollbar {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border: 1px solid #212121;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: transparent;
    }
    .menu-item{
        padding: 15px 17px;
        width: 100%;
        border-left: 4px solid transparent;
        &.active{
            border-left-color: $color-second;
            .i-con{
                color: $color-second;
            }
        }
        &.logout{
            position: absolute;
            bottom: 10px;
            // padding: 14px 26px;
            
        }
        &.notify{
            position: absolute;
            bottom: 70px;
            padding: 14px 26px;
        }
        &:hover{
            .i-con{
                color: $color-second;
            }
        }
    }
    .menu-link{
        padding: 4px;
        height: 32px;
        width: 32px;
        display: block;
        text-align: center;
        &.new-message{
            position: relative;
            &:after {
                content: '';
                display: inline-block;
                font-size: 4px;
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #ff0000;
            }
        }
    }
    .i-con {
        font-size: 24px;
        object-fit: contain;
        color: #3f3f3f;
        &.icon-notify, &.icon-logout{
            font-size: 21px;
        }
        &.icon-notify{
            color: #555555;
        }
    }
}
.page-container{
    height: 100%;
    .chart-box{
        height: 100%;
        padding-bottom: 30px;
    }
}
.page-header{
    margin-bottom: 32px;
    .page-title{
        color: #747474;
        font-size: $font-size-biggest;
        font-family: $font-second;
        line-height: 32px;
        display: inline-block;
        vertical-align: -4px;
        width: 72%;
    }
    .btn-refresh{
        min-width: 80px;
        height: 40px;
        border-radius: 4px 0 0 4px;
        background-color: #0e0e0e;
        border: none;
        outline: none;
        text-align: left;
        padding-left: 24px;
        position: absolute;
        right: -25px;
        top: 0;
        cursor: pointer;
    }
}
.group-search{
    position: relative;
    // margin-right: 64px;
    .input-search{
        color: #989898;
        font-size: $font-size-big;
        border-bottom: 1px solid #212c3a;
        margin-bottom: 0;
        padding-right: 20px;
        &::placeholder{
            color: #989898;
        }
    }
    .fa-search{
        color: #7e7e7e;
        font-size: 16px;
        position: absolute;
        right: 0;
        bottom: 10px;
    }
}
.dropdown-head{
    display: inline-block;
    margin-right: 16px;
    margin-left: 3px;
    vertical-align: 2px;
    .dropdown-toggle{
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        &::after{
            display: none;
        }
    }
}
.text-error{
    font-size: 12px;
}
.page-footer{
    color: #8a8a8a;
    margin: 31px 0;
    position: absolute;
    bottom: 10px;
    .txt-link{
        color: #8a8a8a;
    }
}
.user-name{
    color: #7b7b7b;
    font-size: $font-size-big;
    display: inline-block;
    margin-left: 4px;
}
.img-avatar{
    width: 40px;
    height: 40px;
    position: relative;
    @include border-radius(50%);
    padding: 3px;
    margin-right: 2px;
    object-fit: cover;
    border: 1px solid #efefef;  
}