@import '~/assets/scss/fontawesome/font-awesome.scss';
@import '~/assets/scss/general/mixin.scss';
@import '~/assets/scss/general/variables.scss';
@import '~/assets/scss/themes/default.scss';
@import '~/assets/scss/themes/white.scss';
@import '~/assets/scss/themes/blue.scss';