.loading-page {
    display: inline-flex;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9000;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 1;
    .thanksNotification{
        position: absolute;
        margin: 0;
        top: 58%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
        line-height: 1.22;
        text-align: center;
        color: #262c39;
    }
    .windows8 {
        position: relative;
        width: 78px;
        height: 78px;
        margin: auto;
    }

    .windows8 .wBall {
        position: absolute;
        width: 74px;
        height: 74px;
        opacity: 0;
        transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        animation: orbit 3.3225s infinite;
        -o-animation: orbit 3.3225s infinite;
        -ms-animation: orbit 3.3225s infinite;
        -webkit-animation: orbit 3.3225s infinite;
        -moz-animation: orbit 3.3225s infinite;
    }

    .windows8 .wBall .wInnerBall {
        position: absolute;
        width: 10px;
        height: 10px;
        background: $color-second;
        left: 0px;
        top: 0px;
        border-radius: 10px;
    }

    .windows8 #wBall_1 {
        animation-delay: 0.726s;
        -o-animation-delay: 0.726s;
        -ms-animation-delay: 0.726s;
        -webkit-animation-delay: 0.726s;
        -moz-animation-delay: 0.726s;
    }

    .windows8 #wBall_2 {
        animation-delay: 0.143s;
        -o-animation-delay: 0.143s;
        -ms-animation-delay: 0.143s;
        -webkit-animation-delay: 0.143s;
        -moz-animation-delay: 0.143s;
    }

    .windows8 #wBall_3 {
        animation-delay: 0.2865s;
        -o-animation-delay: 0.2865s;
        -ms-animation-delay: 0.2865s;
        -webkit-animation-delay: 0.2865s;
        -moz-animation-delay: 0.2865s;
    }

    .windows8 #wBall_4 {
        animation-delay: 0.4295s;
        -o-animation-delay: 0.4295s;
        -ms-animation-delay: 0.4295s;
        -webkit-animation-delay: 0.4295s;
        -moz-animation-delay: 0.4295s;
    }

    .windows8 #wBall_5 {
        animation-delay: 0.583s;
        -o-animation-delay: 0.583s;
        -ms-animation-delay: 0.583s;
        -webkit-animation-delay: 0.583s;
        -moz-animation-delay: 0.583s;
    }

    @keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            transform: rotate(180deg);
            animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            transform: rotate(300deg);
            animation-timing-function: linear;
            origin: 0%;
        }

        30% {
            opacity: 1;
            transform: rotate(410deg);
            animation-timing-function: ease-in-out;
            origin: 7%;
        }

        39% {
            opacity: 1;
            transform: rotate(645deg);
            animation-timing-function: linear;
            origin: 30%;
        }

        70% {
            opacity: 1;
            transform: rotate(770deg);
            animation-timing-function: ease-out;
            origin: 39%;
        }

        75% {
            opacity: 1;
            transform: rotate(900deg);
            animation-timing-function: ease-out;
            origin: 70%;
        }

        76% {
            opacity: 0;
            transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            transform: rotate(900deg);
        }
    }

    @-o-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -o-transform: rotate(180deg);
            -o-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -o-transform: rotate(300deg);
            -o-animation-timing-function: linear;
            -o-origin: 0%;
        }

        30% {
            opacity: 1;
            -o-transform: rotate(410deg);
            -o-animation-timing-function: ease-in-out;
            -o-origin: 7%;
        }

        39% {
            opacity: 1;
            -o-transform: rotate(645deg);
            -o-animation-timing-function: linear;
            -o-origin: 30%;
        }

        70% {
            opacity: 1;
            -o-transform: rotate(770deg);
            -o-animation-timing-function: ease-out;
            -o-origin: 39%;
        }

        75% {
            opacity: 1;
            -o-transform: rotate(900deg);
            -o-animation-timing-function: ease-out;
            -o-origin: 70%;
        }

        76% {
            opacity: 0;
            -o-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -o-transform: rotate(900deg);
        }
    }

    @-ms-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -ms-transform: rotate(180deg);
            -ms-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -ms-transform: rotate(300deg);
            -ms-animation-timing-function: linear;
            -ms-origin: 0%;
        }

        30% {
            opacity: 1;
            -ms-transform: rotate(410deg);
            -ms-animation-timing-function: ease-in-out;
            -ms-origin: 7%;
        }

        39% {
            opacity: 1;
            -ms-transform: rotate(645deg);
            -ms-animation-timing-function: linear;
            -ms-origin: 30%;
        }

        70% {
            opacity: 1;
            -ms-transform: rotate(770deg);
            -ms-animation-timing-function: ease-out;
            -ms-origin: 39%;
        }

        75% {
            opacity: 1;
            -ms-transform: rotate(900deg);
            -ms-animation-timing-function: ease-out;
            -ms-origin: 70%;
        }

        76% {
            opacity: 0;
            -ms-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -ms-transform: rotate(900deg);
        }
    }

    @-webkit-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -webkit-transform: rotate(180deg);
            -webkit-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -webkit-transform: rotate(300deg);
            -webkit-animation-timing-function: linear;
            -webkit-origin: 0%;
        }

        30% {
            opacity: 1;
            -webkit-transform: rotate(410deg);
            -webkit-animation-timing-function: ease-in-out;
            -webkit-origin: 7%;
        }

        39% {
            opacity: 1;
            -webkit-transform: rotate(645deg);
            -webkit-animation-timing-function: linear;
            -webkit-origin: 30%;
        }

        70% {
            opacity: 1;
            -webkit-transform: rotate(770deg);
            -webkit-animation-timing-function: ease-out;
            -webkit-origin: 39%;
        }

        75% {
            opacity: 1;
            -webkit-transform: rotate(900deg);
            -webkit-animation-timing-function: ease-out;
            -webkit-origin: 70%;
        }

        76% {
            opacity: 0;
            -webkit-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -webkit-transform: rotate(900deg);
        }
    }

    @-moz-keyframes orbit {
        0% {
            opacity: 1;
            z-index: 99;
            -moz-transform: rotate(180deg);
            -moz-animation-timing-function: ease-out;
        }

        7% {
            opacity: 1;
            -moz-transform: rotate(300deg);
            -moz-animation-timing-function: linear;
            -moz-origin: 0%;
        }

        30% {
            opacity: 1;
            -moz-transform: rotate(410deg);
            -moz-animation-timing-function: ease-in-out;
            -moz-origin: 7%;
        }

        39% {
            opacity: 1;
            -moz-transform: rotate(645deg);
            -moz-animation-timing-function: linear;
            -moz-origin: 30%;
        }

        70% {
            opacity: 1;
            -moz-transform: rotate(770deg);
            -moz-animation-timing-function: ease-out;
            -moz-origin: 39%;
        }

        75% {
            opacity: 1;
            -moz-transform: rotate(900deg);
            -moz-animation-timing-function: ease-out;
            -moz-origin: 70%;
        }

        76% {
            opacity: 0;
            -moz-transform: rotate(900deg);
        }

        100% {
            opacity: 0;
            -moz-transform: rotate(900deg);
        }
    }
}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-spinner .spiner-item {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner .spiner-item:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: $color-second;
}
.lds-spinner .pos-1 {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner .pos-2 {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner .pos-3 {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner .pos-4 {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner .pos-5 {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner .pos-6 {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner .pos-7 {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner .pos-8 {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner .pos-9 {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner .pos-10 {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner .pos-11 {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner .pos-12 {
    transform: rotate(330deg);
    animation-delay: 0s;
}
.lds-spinner{
    &.size-24{
        width: 24px;
        height: 24px;
        .spiner-item{
            transform-origin: 12px 12px;
            &:after{
                top: 17px;
                left: 11px;
                width: 2px;
                height: 6px;
            }
        }
    }
    &.size-32{
        width: 32px;
        height: 32px;
        .spiner-item{
            transform-origin: 16px 16px;
            &:after{
                top: 22px;
                left: 15px;
                width: 2px;
                height: 8px;
            }
        }
    }
    &.size-48{
        width: 48px;
        height: 48px;
        .spiner-item{
            transform-origin: 24px 24px;
            &:after{  
                top: 3px;
                left: 23px;
                width: 3px;
                height: 11px;
            }
        }
    }
}
@keyframes lds-spinner {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
.loading-custom{
    &.full-box{
        display: inline-flex;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 9000;
        background-color: rgba(255, 255, 255, 0.6);
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        opacity: 1;
        .lds-spinner{
            margin: 0 auto;
            top: 50%;
        }
    }
    &.not-drop{
        background-color: transparent;
    }
}
.box-loading{
    position: relative;
    .loading{
        position: absolute;
        .windows8{
            width: 50px;
            height: 50px;
            .wBall{
                width: 45px;
                height: 45px;
                .wInnerBall{
                    width: 8px;
                    height: 8px;
                }
            }
        } 
    }
}