.notifications{
    top:10% !important;
}
.notify-complete{
    min-width: 235px;
    width: auto;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.21);
    margin-top:10px; 
    margin-right: 40px;
    .box-inline{
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;
        &:nth-child(1){
            width: 16%;
        }
        &:nth-child(2){
            width: 54%;
        }
        &:nth-child(3){
            width: 30%;
        }
        &:last-child{
            padding-right: 0;
        }
        h3{
            font-family: CircularStd-Medium, sans-serif;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.33;
            text-align: left;
            color: $color-second;
            margin: 0;
            white-space: nowrap;
            width: 127px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h4{
            font-family: CircularStd-Book, sans-serif;
            font-size: 9px;
            line-height: 1.78;
            text-align: left;
            color: #bbbbbb;
            margin: 0;
        }
        .btn-white{
            height: 49px;
            min-width: 46px;
            border: 2px solid #ffffff;
            border-left: 2px solid rgba(216, 216, 216, 0.1);
            border-radius: 3px;
            outline: none;
            background-color: transparent;
        }
    }
}
@media screen and (max-width:767px){
    .notify-complete{
        // position: initial;
        // border-top: 1px solid rgba(216, 216, 216, 0.2);
    }
}