.page-blank{
    background-image: url('/images/bgLoginPage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 168px;
    font-family: $font-primary;
    font-weight: normal;
    overflow: auto;
    height: 100vh;
    .row-default{
        min-height: 100%;
        .col-content{
            position: relative;
        }
        .col-form{
            position: relative;
            background-color: rgba($color-third, 0.95);
        }
        .link-style{
            color: #6b6b6b;
            font-size: $font-size-normal;
            line-height: 16px;
            text-decoration: underline;
            display: inline-block;
        }
    }
    .box-term{
        font-size: $font-size-normal;
        margin-top: -32px;
        margin-left: 75px;
        position: relative;
        z-index: 1;
        .txt-link{
            color: rgba(#ffffff, 0.05);
        }
    }
    .logo{
        max-width: 60px;
        margin-bottom: 30px;
        text-align: center;
    }
}

.form-style{
    opacity: 0.95;
    // height: 100%;
    padding: 2% 45px 9% 75px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .heading-form{
        color: #ffffff;
        font-family: $font-third;
        font-size: 40px;
        line-height: 56px;
        margin: 33px 0 24px;
    }
    .txt-desc{
        color: #8e8e8e;
        font-family: $font-second;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .btn-normal{
        margin-right: 27px;
    }
    .form-input{
        color: #49b3af;
        font-size: 16px;
        border-bottom: 1px solid  #979797;
        padding-bottom: 20px;
        margin-bottom: 25px;
        &::placeholder{
            color: #49b3af;
        }
    }
}
.content-right{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 2% 0;
    .btn-big{
        font-size: $font-size-big;
        height: 40px;
        padding: 11px 20px 11px 80px;
        border-radius: 0 4px 4px 0;
        background-image: linear-gradient(135deg, #2d9abf 0%, #75e099 100%);
        margin-bottom: 32px;
        margin-top: 60px;
    }
}
.bg-right{
    padding-left: 80px;
    color: #fff;
    position: relative;
    .icon-version{
        position: absolute;
        left: 48px;
        top: 3px;
    }
    .font-24{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .txt-released{
        color: #909090;
        font-size: $font-size-normal;
        display: block;
        margin-bottom: 10px;
    }
    .font-semi{
        font-family: $font-third;
        font-size: $font-size-big;
        margin-bottom: 25px;
    }
    .list-info{
        font-size: $font-size-big;
        margin-bottom: 0;
        li{
            padding: 0 0 20px 25px;
            position: relative;
            &::before{
                content: '\f111';
                font-family: 'FontAwesome';
                color: $color-second;
                font-size: 5px;
                position: absolute;
                left: 0;
                top: 6px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .page-blank{
        padding: 0 40px;
    }
}
@media screen and (max-width: 767px) {
    .page-blank{
        padding: 90px 0;
        .box-term{
            margin: 0 30px 20px;
        }
    }
    .form-style{
        padding: 40px 30px;
        .heading-form{
            font-size: 22px;
            line-height: 32px;
            margin: 17px 0;
        }
        .txt-desc{
            font-size: $font-size-big;
            margin-bottom: 20px;
        }
        .logo{
            height: 50px;
        }
    }
}
@media screen and (max-width: 575px) {
    .bg-right{
        padding-left: 30px;
        .icon-version{
            left: 4px;
        }
    }
}