.theme-white{
    //----Color
    $color-primary: $white;
    $color-second: $blue;
    $color-third: $gray-darker;
    $color-fourth: $blue-darker;
    $color-fifth: $green;
    $color-sixth: $gray;
    $color-seventh: $gray-light;
    $color-eighth: $black-light;
    $color-ninth: $blue-light;
    $color-tenth: $blue-dark;
    $color-eleventh: $red;
    $color-twelfth: $green-darker;
    //----Font
    $font-primary: 'CircularStd-Book';
    $font-second: 'CircularStd-Medium';
    $font-third: 'CircularStd-Bold';
    $font-fourth: 'CircularStd-Black';
    $font-fifth: 'MarkPro-Bold';

    @import '../../general/general.scss';
    @import '../../page/dashboard.scss';
    @import '../../page/login.scss';
    @import '../../components/header.scss';
    @import '../../components/box-list.scss';
    @import '../../components/dropdown-filter.scss';
    @import '../../components/box-popup.scss';
    @import '../../components/loading.scss';
    @import '../../components/success-notify.scss';
}
