.theme-blue{
    //----Color
    $color-primary: $blue;
    $color-second: $white;
    $color-third: $gray-dark;
    $color-fourth: $blue-darker;
    $color-fifth: $green;
    $color-sixth: $gray;
    $color-seventh: $gray-light;
    //----Font
    $font-primary: 'CircularStd-Book';
    $font-second: 'CircularStd-Medium';
    $font-third: 'CircularStd-Bold';
    $font-fourth: 'CircularStd-Black';
    $font-fifth: 'MarkPro-Bold';

    @import './general/general.scss';
    @import './general/header.scss';
    @import './page/dashboard.scss';
}